html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  color: lightgray;
}

section {
  height: auto;
  scroll-snap-align: center;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 1024px) {
  section {
    height: auto;
  }
}

@media (min-width: 1024px) {
  section {
    height: 100vh;
  }
}
